<div id="cont">
  <div id="calculator">
    <div id="display">
      <p>{{ display }}</p>
    </div>
    <div class="grid-container">
      <button id="seven" (click)="click('7')">7</button>
      <button id="eight" (click)="click('8')">8</button>
      <button id="nine" (click)="click('9')">9</button>
      <button id="divide" (click)="click('/')">&#247;</button>
      <button id="four" (click)="click('4')">4</button>
      <button id="five" (click)="click('5')">5</button>
      <button id="six" (click)="click('6')">6</button>
      <button id="multiply" (click)="click('*')">x</button>
      <button id="one" (click)="click('1')">1</button>
      <button id="two" (click)="click('2')">2</button>
      <button id="three" (click)="click('3')">3</button>
      <button id="subtract" (click)="click('-')">-</button>
      <button id="clear" class="bottom" (click)="click('C')">AC</button>
      <button id="zero" class="bottom" (click)="click('0')">0</button>
      <button id="decimal" class="bottom" (click)="click('.')">.</button>
      <button id="add" class="bottom" (click)="click('+')">+</button>
    </div>
    <div>
      <button id="equals" (click)="click('=')">=</button>
    </div>
  </div>
</div>
