<Div id="display">{{ display }}</Div>
<div>
  <button id="seven" (click)="click('7')">7</button>
  <button id="eight" (click)="click('8')">8</button>
  <button id="nine" (click)="click('9')">9</button>
</div>
<div>
  <button id="four" (click)="click('4')">4</button>
  <button id="five" (click)="click('5')">5</button>
  <button id="six" (click)="click('6')">6</button>
</div>
<div>
  <button id="one" (click)="click('1')">1</button>
  <button id="two" (click)="click('2')">2</button>
  <button id="three" (click)="click('3')">3</button>
</div>
<div>
  <button id="zero" (click)="click('0')">0</button>
  <button id="decimal" (click)="click('.')">.</button>
  <button id="equals" (click)="click('=')">=</button>
</div>
<br />
<div>
  <button id="add" (click)="click('+')">+</button>
  <button id="subtract" (click)="click('-')">-</button>
  <button id="multiply" (click)="click('x')">x</button>
  <button id="divide" (click)="click('/')">/</button>
  <button id="clear" (click)="click('C')">C</button>
</div>
